body {
    background-color:antiquewhite; 
}
*{
    margin:0;
    padding:0;
}
nav{
    font-family:'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    height:65px;
    background-color: black;
    list-style-type: none;
    color:white;
    align-items: center;
}

.brand img{
    width:50px;
    padding:0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size:1.3rem;
}
nav ul li{
    padding:0 12px;
}
.container{
    min-height: 70vh;
    color: white;
    font-family:'Varela Round', sans-serif;
    display:flex;
    width:70%;
    margin:23px auto;
    border-radius:20px;
    background-color: black;
    padding:34px;
    background-image:url('headphones.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    
}
.bottom{
    position:sticky;
    background-color:black;
    height:130px;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items: center;
    color:white;
    flex-direction: column;
    
}

.icons{
    margin-top:24px;
}
.icons i{
    cursor: pointer;

}
#myprogress{
    width: 80vw;
    cursor: pointer;
    
}

.songitem{
    display:flex;
    height:50px;
    background-color:white;
    width:80%;
    color:black;
    margin:12px 0;
    align-items:center;
    justify-content: space-between;
    border-radius:20px;

}

.songitem img{
    height: 45px;
    margin:0 15px;
    width:50px;
}
.timestamp{
    margin:0 12px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 40px;
}
.songinfo{
    position:absolute;
    left:140px;
}
.songinfo img{
    opacity:0;
    transition: opacity 1s ease-in;
}
